body {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    /* font-size: 40px; */
    background-color: #0000006f;
}

header h1{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

header p {
    color: tomato !important;
    font-size: 20px !important;
}